@import "tailwindcss";


/* Particle animation helpers */
.particle-reset {
  opacity: 0;
}

.particle-explode {
  opacity: 1;
}
html {
  scroll-behavior: smooth;
}



@theme {
  --color-primary: #7c3aed;
  --color-bg: #0b0b0f;
}
